sqlalchemy[asyncio]
aiosqlite
aiohttp[speedups]
asyncpg
pydantic
pydantic_yaml
articledata
pantomime
orjson
pyyaml
trafilatura
fasttext
languagecodes
charset-normalizer
shortuuid >= 1.0.1, < 2.0.0
click >= 8.0.0, < 8.1.0